$black-color: #2c2c2c;
$blue-color: #2060f6;
$grey-color: #292D32;
$light-grey-color: #9197B3;
$more-light-grey-color: #B5B7C0;
$accent-violet-color: #5932EA;
$green-color: #00B087;
$dark-green-color: #008767;
$green-mix-color: rgba(22, 192, 152, 0.38);
$red-color: #DF0404;
$light-red-color: rgba(255, 197, 197, 1);
$background-color: #f2f6fa;
