$black-color: #2c2c2c;
$blue-color: #2060f6;
$grey-color: #292d32;
$light-grey-color: #9197b3;
$more-light-grey-color: #b5b7c0;
$accent-violet-color: #5932ea;
$green-color: #00b087;
$dark-green-color: #008767;
$green-mix-color: rgba(22, 192, 152, 0.38);
$red-color: #df0404;
$light-red-color: rgba(255, 197, 197, 1);
$background-color: #f2f6fa;
